{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <div class="d-flex align-items-center" style="height: 90vh">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-5 col-xl-4 my-5">

                    <h1 class="display-4 text-center mb-3">
                        Congratulations!
                    </h1>

                    <p class="text-muted text-center mb-5">
                        You've just finished setting up the boilerplate!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
